* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #F1F1F1;
	background-color: rgb(30 29 29);
	font-family: 'Open Sans', sans-serif;
}

p, label {
	font-size: clamp(1.2rem, 2vw, 10rem);
	line-height: 1.5;
}

h1 {
	font-size: clamp(2rem, 5vw, 10rem);
	margin-top: 0.6rem;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main > div {
	margin: 1rem 0;
	justify-self: flex-start;
}

main > div p > span {
	color: #38b399;
	font-weight: bold;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form input, form button {
	margin: 0.8rem 0;
	width: clamp(5rem, 66vw, 70vw);
	font-size: clamp(1.2rem, 2vw, 10rem);
	font-family: 'Open Sans', sans-serif;
}

form input {
	border: none;
}
